html, body 
{
	height:99.9%;
}

body, .ui-body-c, .ui-overlay-c 
{
	color:#666;
	font-family:arial;
	background: #feffff;
	background: -moz-linear-gradient(top,  #feffff 0%, #9adbf4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(100%,#9adbf4));
	background: -webkit-linear-gradient(top,  #feffff 0%,#9adbf4 100%);
	background: -o-linear-gradient(top,  #feffff 0%,#9adbf4 100%);
	background: -ms-linear-gradient(top,  #feffff 0%,#9adbf4 100%);
	background: linear-gradient(to bottom,  #feffff 0%,#9adbf4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#9adbf4',GradientType=0 );
}

#app 
{
	position:relative;
	top:28%;
	text-align:center;
	margin-top:-30px;
}

#app div 
{
	margin-bottom:27px;
}

#app div img
{	
	display:block;
	margin:0 auto 2em auto;
}

#logo-image
{
	width:80%;
	max-width:350px;
}